{{extend 'layout.html'}}

<a id="fo1" href="http://127.0.0.1:8000/quizzoid/default/sqadmin" >See Single option Questions</a>

<a id="fo2" href="http://127.0.0.1:8000/quizzoid/default/mqadmin" >See Multiple option Questions</a>

<a id="fo3" href="http://127.0.0.1:8000/quizzoid/default/sqadminin" >Insert Single option Questions</a>

<a id="fo4" href="http://127.0.0.1:8000/quizzoid/default/sqadminin" >Insert Multiple option Questions</a>

<style>
#fo1{
position:absolute;
left:300px;
top:200px;
font-size:30px;
}

#fo2{
position:absolute;
left:300px;
top:250px;
font-size:30px;
}
#fo3{
position:absolute;
left:300px;
top:300px;
font-size:30px;
}
#fo4{
position:absolute;
left:300px;
top:350px;
font-size:30px;
}

</style>

