{{extend 'layout.html'}}
{{=form}}

<br><br>
<a id="fo" href="http://127.0.0.1:8000/quizzoid/default/viewfeedback" >Users views on this App</a>
<style>
#fo{
position:absolute;
left:800px;
top:200px;
font-size:30px;
}
</style>
