{{extend 'cool.html'}}
<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="./sports.css" />

<title>Quizzoid </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<style type="text/css">

</style>
</head>

<body oncontextmenu="return false;"> 

<div id="intro_screen">
    <div class="intro_block">
        <div class="quiz-name"></div>
    <div class="start_button" id="start-game">
	START LEVEL-3
	</div>	
    </div>
</div>

<div class="game_screen">

<div class="outer-wrapper">
	<h2><span class="heading"></span></h2>
	<div class="question-wrapper">
		<h2>
			<span id="displayqsn">
			</span>
		</h2>		
		<div class="picture-wrapper"><img src="" id="question-picture"/></div>
	</div>
	<div class="explanation-wrapper">
		<div class="answer-state"></div>
		<div class="explanation"></div>
		<div><input type="button" class="next-question wide-button" value="Next question"></div>
	</div>

	<ul class="answers">
		
		<li id="one" onclick="myfunctionone()" style="visibility: inherit;">
			<div></div>
		</li>
		<li id="two" onclick="myfunctiontwo()" style="visibility: inherit;">
			<div></div>
		</li>
			
		<li id="three" onclick="myfunctionthree()" style="visibility: inherit;">
			<div></div>
		</li>
		<li id="four" onclick="myfunctionfour()" style="visibility: inherit;">
			<div></div>
		</li>
	</ul>
	<button id="multiple" onclick="submit()" >Submit</button>
</div>
<div class="level"><span></span></div>
<div class="results-page">
	<h2><span>Results:</span></h2>
	<span class="results"></span>
	<table class="table-results">
	</table>
	<a href="#" class="wide-button try-again"><span></span></a>
</div>
<div id="cor"><span></span><div>
</div>
<script>
var questions=[];
var question = 0;
var score = 0;
var answered = false;
var samantha=[];
var qs = "{{=l}}";
var count1=1;
var count2=1;
var count3=1;
var count4=1;
var num=0;
var c=0;
var to;
function myfunctionone(){
count1++;
if(count1%2==0)
document.getElementById('one').style.color='yellow';
else
document.getElementById('one').style.color='white';
}
function myfunctiontwo(){
count2++;
if(count2%2==0)
document.getElementById('two').style.color='yellow';
else
document.getElementById('two').style.color='white';
}
function myfunctionthree(){
count3++;
if(count3%2==0)
document.getElementById('three').style.color='yellow';
else
document.getElementById('three').style.color='white';
}
function myfunctionfour(){
count4++;
if(count4%2==0)
document.getElementById('four').style.color='yellow';
else
document.getElementById('four').style.color='white';
}
function submit(){


var k1="0L",k2=" 0L",k3=" 0L",k4=" 0L";
console.log('count');
console.log(count1);
console.log(count2);
console.log(count3);
console.log(count4);
if(count1%2==0)
	k1="1L";
if(count2%2==0)
	k2=" 1L";
if(count3%2==0)
	k3=" 1L";
if(count4%2==0)
	k4=" 1L";

console.log(questions[question]["correct"]);
console.log(k1);
console.log(k2);
console.log(k3);
console.log(k4);

if(questions[num]["correct"][0]==k1 && questions[num]["correct"][1]==k2 && questions[num]["correct"][2]==k3 && questions[num]["correct"][3]==k4)
{
$('.answer-state').text('Your answer is correct!');
$('.explanation').text("");
correct=true;
score++;
$('.explanation-wrapper').removeClass('right wrong').addClass(correct ? 'right' : 'wrong').slideDown('medium');
 if(num == questions.length - 1) 
 	{
 			
				questions.shuffle();
				
            
            	$('.next-question').val('Finish quiz');
            }

}
else
{

$('.answer-state').text('Your answer is incorrect!');
               c++;
<!--				$('.explanation').text();-->
correct=false;
$('.explanation-wrapper').removeClass('right wrong').addClass(correct ? 'right' : 'wrong').slideDown('medium');
if(num == questions.length - 1) $('.next-question').val('Finish quiz');

}
 	
/*			if(count1%2==0)
				console.log("yellow");
			else
				console.log("white");
*/


}

		
   	$(function () {
		Array.prototype.shuffle = function (b) {
			var i = this.length, j, t;
			while (i) {
				j = Math.floor(( i-- ) * Math.random());
				t = b && typeof this[i].shuffle !== 'undefined' ? this[i].shuffle() : this[i];
				this[i] = this[j];
				this[j] = t;
			}
			return this;
		}
			qs = qs.replace(/&#x27;/g, "'");
			qs = qs.substring(0,qs.length-1);
			qs += ",]";
			qs = qs.replace(/},/g,"}},");
			var qns=qs.split("},");
			for(var i=0;i<qns.length-1;i++)
			{
				var n = qns[i].search(",");
				var t1=qns[i].substring(15,n-1);
				a={};
				a["question"] = t1;
				a["correct"]=[];
				n = qns[i].search("correct");
			//	console.log(qns[i]);
				var t2=qns[i].substring(n+11,n+25);
				t2=t2.split(",");
			//	console.log(t2);
				for(var v=0;v<t2.length;v++)
				{
		
			//		console.log(t2[v]);
					if(v==0)
						var temp=t2[v].substring(0,2);
					else
						var temp=t2[v].substring(1,2);
			//		console.log(temp);
					a["correct"].push(t2[v]);
				}				
				
				a["correct"] = t2;
				a["answers"] = [];
				n = qns[i].search("answers");
				var t3=qns[i].substring(n+11);
				t3=t3.substring(0,t3.length-2);
			//	console.log(t3);
	     			var t4 = t3.split(",");
				for(var j=0;j<t4.length;j++)
				{
					a["answers"].push(t4[j]);
				}	
			questions.push(a);
			console.log(questions[i]["correct"]);
		//	console.log(questions);
			}

			function fun()
	{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}
	else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			document.getElementById("au").innerHTML=xmlhttp.responseText;
		}
	}
	xmlhttp.open("GET","http://127.0.0.1:8000/quizzoid/default/second?start="+samantha,true);	
	xmlhttp.send();
	}

	function endGame()
		{
			samantha.push("Level-3");
				samantha.push(score);
				if(score<=question.length/2)
					samantha.push("Poor performance");
				if(score>question.length/2)
					samantha.push("Good...U can do better");
				if(score==question.length)
					samantha.push("Excellent performance");
				samantha.push("History");
				fun();
			$('.level').hide();
			$('#cor').hide();
			$('.outer-wrapper').hide('fast');
			$('.results').html('You answered  ' + score + '  of '+questions.length+' questions correctly!'
								+ '<br>' +
								'Your score is  ' + (score/questions.length*100|0) + '%.');
			if(score >= questions.length/2)
			{
				to=1;
				$('.try-again span').html('YOU SUCCESSFULLY FINISHED THE QUIZ!!' + '<br>' + 'Click here to give feedback' )
			}
			else
			{
				to=0;
				$('.try-again span').text("Oops!!") 
			}
			$('.results-page').slideDown('slow');
		}

		function showNextQuestion(){
                        count1=1;
			count2=1;
			count3=1;
			count4=1;
			num++;
			document.getElementById('one').style.color='white';
			document.getElementById('two').style.color='white';	
			document.getElementById('three').style.color='white';
			document.getElementById('four').style.color='white';
			showQuestion(++question);
			
		}

		function showQuestion(number){
			answered = false;
			if(!questions[number])
			{
				endGame();
			 	return;
			};
			$('.heading').text((number+1)+'/'+questions.length);
			$('#cor').html('Correctly answerwed =' + c + ' '); 
			question = number;
			$('.question-wrapper span').text(questions[number].question);
			
			$('.explanation').text(questions[number].explanation);

            var random = [0,1,2,3];

          $('.answers li').each(function(index,element){
				var $answer = $(element);
				$answer.removeClass('correct error apply')
					.attr('correct',!!(questions[number].correct==random[index]))
					.find('div').text(questions[number].answers[random[index]])
					.css({'font-size':'25px'});
				var $div = $answer.find('div');
				while( $div.height() > $answer.height() ) {
					$div.css('font-size', (parseInt($div.css('font-size')) - 1) + "px" );
				}
			});
			$('#question-picture').attr("src", questions[number].questionPicture);
			if(!questions[number].questionPicture) {
				$('.picture-wrapper').hide();
			}
			else {
				$('.picture-wrapper').show();
			}					
		}

	


        function startGame(){
            questions.shuffle();
            $('.level span').text("Level-3");
            showQuestion(0);
        }

        $('#start-game').click(function(){
	    $('#cor').show();
            $('#intro_screen').hide("fast");
            $('#outer-wrapper').show("fast");
            startGame();
        });

		$('.next-question').click(function(){
			$('.explanation-wrapper').slideUp('fast');
			showNextQuestion();
		});

		$('.try-again').click(function(){
			question = 0;
			score = 0;
			answered = false;
			if(to==1)
				window.location.href="http://127.0.0.1:8000/quizzoid/default/final.html";
			else{
				window.location.href="http://127.0.0.1:8000/quizzoid/default/history3.html";
			$('.intro_screen').show();
			$('.results-page').hide();
			}
		});

	});

</script>
</body>
</html>
