{{extend 'cool.html'}}
<!DOCTYPE html>
<html>
<head>
<style>
ul li:hover{
background-color:#3366FF;
}
</style>
<link type="text/css" rel="stylesheet" href="./sports.css" />

<title>Quizzoid </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<style type="text/css">

</style>
</head>
<body oncontextmenu="return false;"> 

<div id="intro_screen">
    <div class="intro_block">
        <div class="quiz-name">History Quiz</div>
    <div class="start_button" id="start-game">
	Start Quiz
	</div>
	<div id="instructions">
	<h4 id="instructionsh4">1:There are three challenging levels with single option and multiple option questions</a></h4>
	<h4 id="instructionsh4">2:Level one contains 15 questions</h4>
	<h4 id="instructionsh4">3:If you scores more than or equal to half of number questions you are elegible for next level.
					else you have to play the same level</h4>
	<h4 id="instructionsh4">4:In second level each question carries a time limit of <i>60 seconds</i>
					Now you can start the quiz..GOOD LUCK :)</h>   	
	</div>
	
    </div>
</div>

<div class="game_screen">

<div class="outer-wrapper">
	<h2><span class="heading"></span></h2>
	<div class="question-wrapper">
		<h2>
			<span id="displayqsn">
			</span>
		</h2>		
		<div class="picture-wrapper"><img src="" id="question-picture"/></div>
	</div>
	<div class="explanation-wrapper">
		<div class="answer-state"></div>
		<div class="explanation"></div>
		<div><input type="button" class="next-question wide-button" value="Next question"></div>
	</div>

	<ul class="answers">
		
		<li id="one" style="visibility: inherit;">
			<div></div>
		</li>
		<li id="two" style="visibility: inherit;">
			<div></div>
		</li>
			
		<li id="three" style="visibility: inherit;">
			<div></div>
		</li>
		<li id="four" style="visibility: inherit;">
			<div></div>
		</li>
	</ul>
</div>
<div class="level"><span></span></div>
<div class="results-page">
	<h2><span>Results:</span></h2>
	<span class="results"></span>
	<table class="table-results">
	</table>
	<div class="wide-button try-again"><span></span></div>
</div>
<div id="cor"><div>
</div>
<script>
	
   	$(function () {
		Array.prototype.shuffle = function (b) {
			var i = this.length, j, t;
			while (i) {
				j = Math.floor(( i-- ) * Math.random());
				t = b && typeof this[i].shuffle !== 'undefined' ? this[i].shuffle() : this[i];
				this[i] = this[j];
				this[j] = t;
			}
			return this;
		};
		var t,c=0;
		var samantha=[];
		var question = 0;
		var score = 0;
		var answered = false;
		var questions=[];
		var qs = "{{=l}}";
	
			qs = qs.replace(/&#x27;/g, "'");
			qs = qs.substring(0,qs.length-1);
			qs += ",]";
			qs = qs.replace(/},/g,"}},");
			var qns=qs.split("},");
			for(var i=0;i<qns.length-1;i++)
			{
				var n = qns[i].search(",");
				var t1=qns[i].substring(15,n-1);
				a={};
				a["question"] = t1;
				n = qns[i].search("correct");
				var t2=qns[i].substring(n+10,n+11);
				a["correct"] = t2;
				a["answers"] = [];
				n = qns[i].search("answers");
				var t3=qns[i].substring(n+11);
				t3=t3.substring(0,t3.length-2);
	     			var t4 = t3.split(",");
				for(var j=0;j<t4.length;j++)
				{
					a["answers"].push(t4[j]);
				}	
			questions.push(a);
			}


	function fun()
	{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}
	else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			document.getElementById("au").innerHTML=xmlhttp.responseText;
		}
	}
	xmlhttp.open("GET","http://127.0.0.1:8000/quizzoid/default/second?start="+samantha,true);	
	xmlhttp.send();
	}

	function endGame()
		{
			$('.level').hide();
			$('.outer-wrapper').hide('fast');
			$('#cor').hide('fast');
			$('.results').html('You answered  ' + score + '  of '+questions.length+' questions correctly!'
								+ '<br>' +
								'Your score is  ' + (score/questions.length*100|0) + '%.');
			if(score >= questions.length/2)
			{
				t=1;
				$('.try-again span').html('Congratulations ' + '<br>' + 'You can proceed to Next Level');
			}
			else
			{
				t=0;
				$('.try-again span').text("Try-again!!");
			}
			$('.results-page').slideDown('slow');
		}

		function showNextQuestion(){
			
			showQuestion(++question);
		}

		function showQuestion(number){
			answered = false;
			if(!questions[number])
			{
				endGame();
			 	return;
			};
			$('.heading').text((number+1)+'/'+questions.length);
			$('#cor').html('Correctly answerwed =' + c + ' '); 
			question = number;
			$('.question-wrapper span').text(questions[number].question);
			
			$('.explanation').text(questions[number].explanation);

            var random = [0,1,2,3].shuffle();

          $('.answers li').each(function(index,element){
				var $answer = $(element);
				$answer.removeClass('correct error apply')
					.attr('correct',!!(questions[number].correct==random[index]))
					.find('div').text(questions[number].answers[random[index]])
					.css({'font-size':'25px'});
				var $div = $answer.find('div');
				while( $div.height() > $answer.height() ) {
					$div.css('font-size', (parseInt($div.css('font-size')) - 1) + "px" );
				}
			});
			$('#question-picture').attr("src", questions[number].questionPicture);
			if(!questions[number].questionPicture) {
				$('.picture-wrapper').hide();
			}
			else {
				$('.picture-wrapper').show();
			}					
		}


		$('.answers li').click(function(){
			if(answered) 
				return;
			answered = true;
			var $answer = $(this);
			var correct = $answer.attr('correct')=='true';
			if(correct) 
				score++;
			questions[question].userCorrect = correct;
			questions[question].userAnswer = $answer.text();
			if(correct) {
				$('.answer-state').text('Your answer is correct!');
				c++;
				$('.explanation').text("");
			}
			else {
				$('.answer-state').text('Your answer is incorrect!');
                
<!--				$('.explanation').text();-->
			}

            $answer.addClass(correct? 'correct' : 'error');
            $('.answers li[correct=true]').addClass('correct');
            $('.explanation-wrapper').removeClass('right wrong').addClass(correct ? 'right' : 'wrong').slideDown('medium');
            if(question == questions.length - 1) 
            	{
            		samantha.push("Level-1");
				samantha.push(score);
				if(score<=7)
					samantha.push("Poor performance");
				if(score>7)
					samantha.push("Good...U can do better");
				if(score==15)
					samantha.push("Excellent performance");
				samantha.push("History");
			questions.shuffle();
            	fun();
            		$('.next-question').val('Finish quiz');
            	}

		});

        function startGame(){
        	$('.level span').text("Level-1");
            showQuestion(0);
        }

        $('#start-game').click(function(){
            $('#intro_screen').hide("fast");
            $('#outer-wrapper').show("fast");
	    $('#cor').show("slow");
            startGame();
        });

		$('.next-question').click(function(){
			$('.explanation-wrapper').slideUp('fast');
			showNextQuestion();
		});

		$('.try-again').click(function(){
			

			question = 0
			score = 0;
			c=0;
			answered = false;
			//var cool = document.getElementByid('try-again').value();
			//console.log(cool);
			if(t==1)
			{
				//alert('hi');
				window.location.href='http://127.0.0.1:8000/quizzoid/default/history2.html';
}
			else
			{
				window.location.href='http://127.0.0.1:8000/quizzoid/default/history';
				$('.intro_screen').hide("fast");
				$('.results-page').hide("fast");
				$('.outer-wrapper').show("fast");
			}

		});

	});

</script>
</body>
</html>
