
{{extend 'homee.html'}}
    <html>
        
        <title> Quizzoid !</title>
<head>
	<link rel="stylesheet" type="text/css" href="home.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div id="carousel">
<ul>
    <li><img id="car" src="../static/images/b1.jpg" alt="background-image1" ></li>
    <li><img id="car" src="../static/images/b3.jpg" alt="background-image2" /></li>
    <li><img id="car" src="../static/images/b2.jpg" alt="background-image3" /></li>
    <li><img id="car" src="../static/images/Quiz8.jpg" alt="background-image4" /></li>
</ul>
</div>


<ul id ="categories">
		<div id="Sports"><img id="sportsimg" src="../static/images/Sports.jpg" alt="Sports" ></div>
		<div id="Movies"><img id ="moviesimg" src="../static/images/movies.jpg" alt="movies"> </div>
		<div id="Science"><img id="scienceimg"src="../static/images/science.jpg" alt="music"></div>
		<div id="History"><img id="historyimg" src="../static/images/history.jpg"></div>
		<div id="Art and literature"><img id="artimg" src="../static/images/art.jpg"></div>
		<div id="Pictures"><img id="picimg" src="../static/images/picture.jpg"></div>
</ul>
<div id="popup_for_sports" >
	<h1>
		<a href="./sports.html" ><pre> Sports</pre></a>
	</h1>
		<p><pre>  </pre></p>
</div>

<div id="popup_for_movies" >
	<h1>
		<a href="./movies.html"><pre>  Movies</pre></a>
	</h1>
		<p><pre>  </pre></p>
</div>

<div id="popup_for_science" >
	<h1>
		<a href="./science.html"><pre>  Science & Technology</pre></a>
	</h1>
		<p><pre>   </pre></p>
</div>

<div id="popup_for_history" >
	<h1>
		<a href="history.html"><pre>  History</pre></a>
	</h1>
		<p><pre>   <pre></p>
</div>

<div id="popup_for_art" >
	<h1>
		<a href="art.html"><pre>  Art & Literature</pre></a>
	</h1>
		<p><pre>   </pre></p>
</div>

<div id="popup_for_pics" >
	<h1>
		<a href="politics.html"><pre>  Politics</pre></a>
	</h1>
		<p><pre>   </pre></p>
</div>

<script >
	

	$(document).ready(function(){
		var k=document.getElementById("carousel")
		var t = setInterval(function(){
                $("#carousel ul").animate({marginLeft:-1000},3000,function(){
                $(this).find("li:last").after($(this).find("li:first"));
                $(this).css({marginLeft:0});
                })      },4000);
                })

</script>
</body>
</html>
