html
{
	font-size: 100.01%;
	height: 100%;
}
body
{
	background-image:url('../static/images/k.jpg');
	background-size:1500px 700px;

	font-size: 62.5%;
	font-family: Roboto, Arial,Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
}
#intro_screen{
	background-image:url('movies.jpg');
	background-size:1500px 600px;
}
#instructions
{
	position:absolute;
	left:200px;
	top:60px;
	
}

#instructionsh4
{
font-size:2em;
}

div.outer-wrapper, div.results-page
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}

h1
{
	font-size: 1.7em;
	margin: 0;
	padding-top: 6px;
}

h3
{!
	margin: 0;
	font-size: 1.5em;
}
h1 span
{
	display: block;
	padding: 6px 10px;
	margin: 0 6px 6px;
}

h2 span
{
	font-size: 1.6em;
	text-align: center;
	font-weight: normal;
	padding-top: 6px;
	display: block;
	color: white;
	word-wrap: break-word;
	padding: 6px 10px;
	margin: 0 6px 6px;
}

ul
{

	list-style: none;
	margin: 20px 0 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top:150px;
	/*bottom: 0;*/
	width: 100%;
}

#multiple
{
    position:absolute;
	
    top:400px;
    left:550px;
    font-size: 3em;
    display: block;
    width: 20%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto;
    line-height: 50px;
    height: 60px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color:#222;
    opacity:1;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0px #000;
    box-shadow: 1px 1px 1px 0px #000;
	
}

/*ul li:hover{
background-color:#3366FF;
}*/

ul li
{
	display: block;
	width: 500px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	text-color:#ffffff;
	margin: 10px auto;
	line-height: 50px;
	height: 40px;
	border-radius: 0px;
	word-wrap: break-word;
	background-color:#222;
	opacity:0.7;
	border: 0px solid #ffffff;
	-webkit-box-shadow: 1px 1px 1px 0px #000;
	box-shadow: 1px 1px 1px 0px #000;
}
.question-wrapper 
{
	position:absolute;
	color:#ffffff;
	width:50%;
	top:100px;
	left:420px;
	font-size:1em;
	

}


ul li>div
{
	padding: 0 2px;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	text-decoration: none;
	width: 100%;
	font-size: 1.5em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul li.clear a
{
	height: 0;
	clear: both;
	float: inherit;
}

.correct
{

background-color:#222;
	opacity:0.7;
	/*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #27e227), color-stop(100%, #096809));
	background-image: -webkit-linear-gradient(#27e227,#096809);
	background-image: linear-gradient(#27e227,#096809);*/
}

.error
{
background-color:#222;
	opacity:0.7;
/*	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e22525), color-stop(100%, #660808));
	background-image: -webkit-linear-gradient(#e22525,#660808);
	background-image: linear-gradient(#e22525,#660808);*/
}correct error apply

#question-picture
{
	display:block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
}

.picture-wrapper {
	margin: 0 auto;
	padding: 8px;
	border-radius: 10px;
	width: 80%;
/*
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7080e7), color-stop(100%, #1d2385));
	background-image: -webkit-linear-gradient(#7080e7,#1d2385);
	background-image: linear-gradient(#7080e7,#1d2385);*/
background-color:#222;
	opacity:0.7;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 1px 1px 1px 0px #000;
	box-shadow: 1px 1px 1px 0px #000;
}

.wide-button{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display: block;
	text-decoration: none;
	background: #222;
	opacity:0.7;
	color: #ffffff;
	border: 0px solid #ffffff;
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	margin: 10px auto;
	border-radius: 10px;
	width: 30%;
}

.explanation-wrapper {
	display: none;
	border: 2px solid #ffffff;
	position: fixed;
	top: 30%;
	left: 50%;
	width: 60%;
	margin-left: -30%;
	z-index: 1000;
	display: none;
	font-size: 1.7em;
	-webkit-box-shadow: 1px 1px 1px 0px #000 ;
	box-shadow: 1px 1px 1px 0px #000 ;
	border-radius: 10px;
}

.answer-state {
	position:absolute;
	top:500px;
	font-size: 25px;
	margin: 5px;
	text-align: center;
	-webkit-text-shadow: 1px 1px 5px #000 ;
	text-shadow: 1px 1px 5px #000 ;
}

.explanation {
	color: #000;
	text-align: center;
	margin: 10px;
	word-wrap: break-word;
}

.explanation-wrapper.right {
position:absolute;
top:400px;
/*	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #27e227), color-stop(100%, #096809));
	background-image: -webkit-linear-gradient(#27e227,#096809);
	background-image: linear-gradient(#27e227,#096809);*/
background-color:green;
opacity:1;

}

.explanation-wrapper.wrong {
position:absolute;
top:400px;
/*	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e22525), color-stop(100%, #660808));
	background-image: -webkit-linear-gradient(#e22525,#660808);
	background-image: linear-gradient(#e22525,#660808);*/
background-color:red;
	opacity:1;
}

.results-page {
	color: #000;
}

.results {
	display: block;
	font-size: 5em;
	margin: 10px 15px 25px;
}

.results-page h2 span{
	text-align: left;
}

.table-results {
	width: 100%;
	font-size: 1.5em;
	padding: 10px;
	/*background-color: #4c5764;*/
}

.table-heading {
	color: #ffffff;
	text-align: center;
}

.table-heading td {
/*	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #ededed));
	background-image: -webkit-linear-gradient(#fefefe,#ededed);
	background-image: linear-gradient(#fefefe,#ededed);*/
background-color:#222;
	opacity:0.7;
	border: 2px solid #d5d3d3;
	-webkit-box-shadow: 1px 1px 1px 0 #000;
	box-shadow: 1px 1px 1px 0 #000;
	margin-bottom: 5px;
	word-wrap: break-word;
	white-space: normal;
}

.row-template {
	display: none;
}

.results-page {
	display: none;
	height: 100%;
}

td {
	padding: 4px 6px;
	border-radius: 5px;
	border: 4px transparent;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.table-results {
	position:absolute;
	top:30px;
	text-size:3em;
	table-layout: fixed;
	word-wrap: break-word;
	margin-top: 6px;
	border:none;
	width: 100%;
	margin-bottom: 8px;
}

.responce-cell {
	color: #fff;
}

.heading {
/*	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7080e7), color-stop(100%, #1d2385));
	background-image: -webkit-linear-gradient(#7080e7,#1d2385);
	background-image: linear-gradient(#7080e7,#1d2385);*/
	position:absolute;
	top:-10px;
	
	background-color:green;
	opacity:1;
	border: 2px solid white;
	-webkit-box-shadow: 1px 1px 1px 0px #000;
	box-shadow: 1px 1px 1px 0px #000;
	border-radius: 5px;
	margin: 5px 0 0 10px;
	padding: 5px 18px;
	display: inline-block;
}

.invisible{
    display: none;
    visibility: hidden;
}

#intro_screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10000;
   
    background-color: #66FF99;
}

.intro_block{
    width: 100%;
    position: absolute;
    top: 25%;
}

#sportsback{
position:absolute;
top:0px;
width:800px;

}
#displayqsn
{
	position:absolute;
	top:-20px;
	
}

.start_button{
    position:absolute;
    top:10px;
    left:500px;
    font-size: 3em;
    display: block;
    width: 30%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto;
    line-height: 50px;
    height: 60px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color:#222;
    opacity:1;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0px #000;
    box-shadow: 1px 1px 1px 0px #000;
}

.quiz-name{
	position:absolute;
	top:-20px;
	left:90px;
    font-size: 30px;
    margin: 0 auto;
    color: #2d39ab;
    text-align: center;
    word-break: break-all;
    width: 90%;
}
