
{{extend 'cool.html'}}
<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="./sports.css" />

<title>Quizzoid </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<style type="text/css">
ul li:hover{
background-color:#3366FF;
}
</style>
</head>

<body oncontextmenu="return false;"> 

<div id="intro_screen">
    <div class="intro_block">
        <div class="quiz-name"></div>
    <div class="start_button" id="start-game">
	START  LEVEL-2 
	</div>
    </div>
</div>

<div class="game_screen">

<div class="outer-wrapper">
	<h2><span class="heading"></span></h2>
	<div class="question-wrapper">
		<h2>
			<span id="displayqsn">
			</span>
		</h2>		
		<div class="picture-wrapper"><img src="" id="question-picture"/></div>
	</div>
	<div class="explanation-wrapper">
		<div class="answer-state"></div>
		<div class="explanation"></div>
		<div><input type="button" class="next-question wide-button" value="Next question"></div>
	</div>

	<ul class="answers">
		
		<li id="one" style="visibility: inherit;">
			<div></div>
		</li>
		<li id="two" style="visibility: inherit;">
			<div></div>
		</li>
			
		<li id="three" style="visibility: inherit;">
			<div></div>
		</li>
		<li id="four" style="visibility: inherit;">
			<div></div>
		</li>
	</ul>
	<h1 id="showtime">
	<span>Count down starts</span></h1>
</div>
<div class="level"><span></span></div>
<div class="results-page">
	<h2><span>Results:</span></h2>
	<span class="results"></span>
	<table class="table-results">
	</table>
	<a href="#" class="wide-button try-again"><span></span></a>
</div>
<div id="cor"><span></span><div>
</div>
<script>
	var c=0;
   	
	$(function () {
		Array.prototype.shuffle = function (b) {
			var i = this.length, j, t;
			while (i) {
				j = Math.floor(( i-- ) * Math.random());
				t = b && typeof this[i].shuffle !== 'undefined' ? this[i].shuffle() : this[i];
				this[i] = this[j];
				this[j] = t;
			}

			return this;
		};
		
		var to;
		var question = 0;
		var samantha=[];
		var score = 0;
		var answered = false;
		var questions =[];
/*
 [{"question":"Word stating with 'A'?","questionPicture":"","correct":0,"answers":["Apple","Orange","Elephant","All"]},
				{"question":"What does NASA stand for?","questionPicture":"","correct":0,"answers":["National Aeronautics and Space Administration","National Acadamy of Sea Agency","Nature ----------- ","None"]}];
        	var questionsPerQuiz = 1;*/
var qs = "{{=l}}";
	
			qs = qs.replace(/&#x27;/g, "'");
			qs = qs.substring(0,qs.length-1);
			qs += ",]";
			qs = qs.replace(/},/g,"}},");
			var qns=qs.split("},");
			for(var i=0;i<qns.length-1;i++)
			{
				var n = qns[i].search(",");
				var t1=qns[i].substring(15,n-1);
				a={};
				a["question"] = t1;
				n = qns[i].search("correct");
				var t2=qns[i].substring(n+10,n+11);
				a["correct"] = t2;
				a["answers"] = [];
				n = qns[i].search("answers");
				var t3=qns[i].substring(n+11);
				t3=t3.substring(0,t3.length-2);
	     			var t4 = t3.split(",");
				for(var j=0;j<t4.length;j++)
				{
					a["answers"].push(t4[j]);
				}	
			questions.push(a);
			}

	function fun()
	{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}
	else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			document.getElementById("au").innerHTML=xmlhttp.responseText;
		}
	}
	xmlhttp.open("GET","http://127.0.0.1:8000/quizzoid/default/second?start="+samantha,true);	
	xmlhttp.send();
	}
      
		function endGame()
		{
			$('.level').hide();
			$('.outer-wrapper').hide('fast');
			$('#showtime span').hide();
			$('#cor').hide();
			$('.results').html('You answered  ' + score + '  of '+questions.length+' questions correctly!'
								+ '<br>' +
								'Your score is  ' + (score/questions.length*100|0) + '%.');

			//var $table = $('.table-results');
			//$table.find('.question-row:not(.row-template)').remove();
			if(score >= questions.length/1.5)
			{
				to=1;
		//		$('.try-again span').text("Congratulations!!!") 
				$('.try-again span').html('Congratulations ' + '<br>' + 'You can proceed to Next Level')
			}
			else
			{
				to=0;
				$('.try-again span').text("Oops!!") 
			}
			$('.results-page').slideDown('slow');
		}

		function showNextQuestion(){
			showQuestion(++question);
		}

		function showQuestion(number){
			answered = false;
			if(!questions[number])
			{
				endGame();
			 	return;
			};
			$('.heading').text((number+1)+'/'+questions.length);
			$('#cor').html('Correctly answerwed =' + c + ' '); 
			question = number;
			$('.question-wrapper span').text(questions[number].question);
			/*if(questions[number].question) {
				$('.question-wrapper span').show();
			}
			else {
				$('.question-wrapper span').hide();
			}*/
			$('.explanation').text(questions[number].explanation);

            var random = [0,1,2,3].shuffle();

          $('.answers li').each(function(index,element){
				var $answer = $(element);
				$answer.removeClass('correct error apply')
					.attr('correct',!!(questions[number].correct==random[index]))
					.find('div').text(questions[number].answers[random[index]])
					.css({'font-size':'25px'});
				var $div = $answer.find('div');
				while( $div.height() > $answer.height() ) {
					$div.css('font-size', (parseInt($div.css('font-size')) - 1) + "px" );
				}
			});

			var count=60;

			var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

			function timer()
			{
				var k;
			  count=count-1;
			  $('.answers li').click(function(){
					clearInterval(counter);
					$('#showtime span').hide();
					//showNextQuestion();
			  })
			  if (count <= 0)
			  {
			     clearInterval(counter);
			     //counter ended, do something here
			     showNextQuestion();
			     return;
			  }
			  $('#showtime span').show();
			  document.getElementById("showtime").innerHTML="Timer:" +count + " secs"; // watch for spelling
			  //Do code for showing the number of seconds here
			}
			$('#question-picture').attr("src", questions[number].questionPicture);
			if(!questions[number].questionPicture) {
				$('.picture-wrapper').hide();
			}
			else {
				$('.picture-wrapper').show();
				//$('#question-picture').height($('.answers').offset().top - $('.question-wrapper span').offset().top - $('.question-wrapper span').height() - 80);
			}					
		}

//		showQuestion(0);

		$('.answers li').click(function(){
			if(answered) 
				rbeturn;
			answered = true;
			var $answer = $(this);
			var correct = $answer.attr('correct')=='true';
			if(correct) 
				score++;
			questions[question].userCorrect = correct;
			questions[question].userAnswer = $answer.text();
			if(correct) {				
				$('#showtime span').hide();
				$('.answer-state').text('Your answer is correct!');
				c++;
				$('.explanation').text("");
			}
			else {
				$('#showtime span').hide();
				$('.answer-state').text('Your answer is incorrect!');
                //$('.explanation').text("Correct answer is " + $('.answers li[correct=true]').text());
<!--				$('.explanation').text();-->
			}



            $answer.addClass(correct? 'correct' : 'error');
            $('.answers li[correct=true]').addClass('correct');
            $('.explanation-wrapper').removeClass('right wrong').addClass(correct ? 'right' : 'wrong').slideDown('medium');
            if(question == questions.length - 1) 
            	{
            	samantha.push("Level-2");
				samantha.push(score);
				if(score<=7)
					samantha.push("Poor performance");
				if(score>7)
					samantha.push("Good...U can do better");
				if(score==15)
					samantha.push("Excellent performance");
				samantha.push("Movies");
			questions.shuffle();
            	fun();
            	$('.next-question').val('Finish quiz');
            }
		});


        function startGame(){
        	//loadXMLDoc();
        	$('.level span').text("Level-2");
            questions.shuffle();
            //alert(questions.length + " "+questionsPerQuiz);
          //  if(questions.length > questionsPerQuiz){
            //    questions.splice(questionsPerQuiz,questions.length-questionsPerQuiz);
          //  }
            //updateScore();
            showQuestion(0);
        }

        $('#start-game').click(function(){
	    $('#cor').show();
            $('#intro_screen').hide("fast");
            $('#outer-wrapper').show("fast");
            startGame();

        });



		$('.next-question').click(function(){
			$('.explanation-wrapper').slideUp('fast');
			showNextQuestion();
		});

		$('.try-again').click(function(){
			question = 0;
			score = 0;
			answered = false;
			if(to==1)
				window.location.href="http://127.0.0.1:8000/quizzoid/default/movies3.html";
			else{
				window.location.href="http://127.0.0.1:8000/quizzoid/default/movies2.html";
			$('.intro_screen').show();
			$('.results-page').hide();
			}
            
		});

	});

</script>
</body>
</html>
