{{extend 'feed.html'}}
<h2>Insert new Questions </h2>
<a id="fo" href="http://127.0.0.1:8000/quizzoid/default/admin1" >Back</a>
<style>
#fo{

position:absolute;
top:160px;
font-size:20px;
}
</style>
{{=form}}

