{{extend 'feed.html'}}
{{count=0}}
{{for i in row:}}
{{if(count==0):}}
<h1>NAME: {{=i.name}}</h1>
{{count=1}}
{{pass}}
<h3>CATEGORY: {{=i.Category}}</h3>
<h3>LEVEL: {{=i.finalReached}}</h3>
<h3>SCORE: {{=i.score}}</h3>
<h3>COMPLEMENT: {{=i.complement}}</h3>
<br><br>
{{pass}}
