<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Boorish
Version    : 1.0
Released   : 20080123
Description: A wide two-column design suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Boorish/default.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: center; padding: 10px; top: 100px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 30px; right:40px; border:0; padding:0;font-size:15px; color:white;  }
.auth_navbar span a{
color:white;
}
  </style>
 </head>
 <body>
  <!-- start header -->
	<style type="text/css">
           * {
                margin: 0px;
                padding: 0px;
           }
      body{
              font-family: analecta;
              width:100%;
		height:100px;
              padding: 70px;
          }
       h1{
             text-align: center;
             margin-bottom: 50px;     

       }       
ul#navmenu, ul.sub1, ul.sub2{
    list-style-type: none;
    font-size: 11pt; 
	left: 300px;
position: absolute;

}

ul#navmenu li{
	
	width: 125px;
	text-align: center;
	position: relative;
  float: left;
  margin-right: 10px;
top:-40px;
left:200px;
}

ul#navmenu a {
     text-decoration: none;
     display: block;
     width: 125px;  
     height: 25px; 
     line-height: 25px;
     background-color: #FFF;
     border: 1px solid #CCC;
     border-radius: 5px; 
}
ul#navmenu .sub1 li{
	
}
ul#navmenu .sub1 a{
	margin-top: 3px;

}
ul#navmenu .sub2 a {

	margin-left: 10px;
}

ul#navmenu li:hover > a {
       background-color: #CFC;

}
ul#navmenu li:hover a:hover{

    background-color: #FF0;

}

ul#navmenu ul.sub1 {

	display: none;
    position: absolute;  
    top: 26px;
    left: 0px;

}
ul#navmenu ul.sub2{
	display: none;
	position: absolute;
	top: 0px;
	left: 121px;
}
ul#navmenu li:hover .sub1{
   display: block;

}
ul#navmenu .sub1 li:hover .sub2{
	display: block;
}
.darrow{
	font-size: 11pt;
	position: absolute;
	top: 5px;
	right: 4px;
}
.rarrow{
	font-size: 11pt;
	position: absolute;
	top: 5px;
	right: 4px;
}
</style>
</head>
<body>

<ul id="navmenu">
      <li><a id="s" href="http://127.0.0.1:8000/quizzoid/default/home"target="_blank">Home</a></li>
      <li><a id="s" href="http://127.0.0.1:8000/quizzoid/default/second"target="_blank">Achievements</a></li>
      <li><a id="s" href="http://127.0.0.1:8000/quizzoid/default/final.html"target="_blank" >Feedback</a></li>

</ul>
  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle}}
    </h2>
   </div>
   
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  
 </body>
</html>
