

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

form{
margin: 0;
	padding: 0;
	position:absolute;
	top:300px;
}

form1{
	position:absolute;
	top:100px;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea, select {
	font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2 {
	font-weight: normal;
	color: #008C00;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.6em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}

p, ul, ol {
}

p {
}

blockquote {
	font-style: italic;
}

ul {
}

ol {
}


a:hover {
	text-decoration: none;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}

/* Header */

#header {
	width: 920px;
	height: 90px;
	background: url(images/img07.jpg);
	margin: 0 auto;
        left:200px;
}

/* Logo */

#logo {
	float: left;
}

#logo h1, #logo h2 {
	margin: 0;
	text-transform: lowercase;
	left:300px;
}

#logo h1 {
	padding-top: 52px;
	padding-left: 40px;
	text-align: center;
	font-size: 4em;
	color: #299762;
	left:220px;
top:-40px;
position:absolute;

}

#logo h1 a {
	color: #299762;
}

#logo h2 {
	margin-top: -10px;
	padding-left: 40px;
	letter-spacing: -1px;
	font-size: 1.8em;
	color: #299762;
}

#logo h2 a {
	color: #299762;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
	height: 190px;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 90px;
	padding: 60px 20px 0px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.6em;
	color: #FFFFFF;
}

#menu a:hover {
	height: 161px;
	background: url(images/img08.jpg) repeat-x top left;
}

#menu .current_page_item a {
	background: url(images/img08.jpg) repeat-x top left;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 920px;
	
	margin: 0 auto;
	padding-top: 20px;
}

#latest-post {
	float: left;
	width: 570px;
	padding: 0px 20px 0px 10px;
}

#recent-posts {
	float: right;
	width: 290px;
	background: url(images/img03.gif) repeat-y;
	padding: 0px 10px 20px 20px;
}

#recent-posts .entry {
	background: url(images/img04.gif) repeat-x left bottom;
}

.post {
}

.post .title {
	margin: 0;
}

.post .meta {
	margin: 0;
	padding-bottom: 10px;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #BABABA;
}

.post .meta a {
	color: #BABABA;
}

.post .entry {
	margin-bottom: 10px;
	padding-bottom: 5px;
}

/* Sidebar */

#sidebar {
	clear: both;
	width: 920px;
	background: url(images/img04.gif) repeat-x left top;
	color: #008C00;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	display: block;
	float: left;
	width: 200px;
	padding: 15px;
}

#sidebar li ul {
	line-height: 1.8em;
}

#sidebar li li {
	display: list-item;
	float: none;
	width: auto;
	padding: 0;
}

#sidebar h2 {
	margin: 0 0 15px 0;
	color: #008C00;
}

#sidebar a {
	text-decoration: none;
	color: #008C00;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

#footer {
	width: 920px;
	height: 100px;
	margin: 0 auto;
top: 440px;
position: absolute;
left: 300px;
	background: url(images/img06.gif) no-repeat;
}

#footer p {
	margin: 0;
	padding: 15px;
}

#legal {
	float: left;
}

#links {
	float: right;
}

